body {
	column-count: 2;
	column-gap: 2rem;
	font-family: sans-serif;
	font-family: source serif pro;
	line-height: 1.2;
	margin: 2rem;
	max-width: 960px;
}

a {
	color: coral;
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: source sans pro;
}

h1, h2 {
	color: #444;
	font-family: league gothic;
	text-transform: uppercase;
}

h3, h4 { margin: 0;
	font-size: 1rem;
	line-height: 1.4;
}

h3 {
	float: left;
	margin-right: 0.2rem;
}

h4 {
	color: #999;
	font-weight: normal;
	line-height: 1.4;
}

p, ul {
	clear: both;
}

h1, h1 + ul {
	column-span: all;
}

#education {
	break-before: column;
}

h1 + ul {
	font-family: source code pro, monospace;
	list-style: none;
	padding: 0;
}

h1 + ul li {
	display: inline-block;
}

h1 + ul li:not(:last-child)::after {
	color: #ccc;
	content: ' |';
}

ul {
	list-style-type: circle;
	padding-left: 1.2rem;
}

ul.toolbar {
	background: white;
	border: 1px dashed #ccc;
	font-family: source code pro, monospace;
	font-size: 0.8rem;
	list-style: none;
	margin: 0.5rem 0.5rem 0 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
}

ul.toolbar li {
	float: left;
}

ul.toolbar a {
	border-right: 1px dashed #ccc;
	display: block;
	padding: 0.5rem;
}

ul.toolbar li:last-child a {
	border: 0;
}

@media only screen and (max-width: 800px) {
	body {
		column-count: 1;
	}

	#education {
		break-before: auto;
	}

	h1 + ul li {
		display: block;
	}

	h1 + ul li:not(:last-child)::after {
		content: '';
	}
}

@media print {
	.toolbar {
		display: none;
	}

	#education {
		break-before: auto;
	}
}
