body {
	font-family: sans-serif;
	font-family: source serif pro;
	line-height: 1.2;
	margin: 2rem;
	max-width: 720px;
}

h1, h2, h3, h4 {
	font-family: source sans pro;
}

h1, h2 {
	color: #444;
	font-family: league gothic;
	text-transform: uppercase;
}

h3, h4 { margin: 0;
	font-size: 1rem;
	line-height: 1.4;
}

h3 {
	float: left;
	margin-right: 0.2rem;
}

h4 {
	color: #999;
	font-weight: normal;
	line-height: 1.4;
}

p, ul {
	clear: both;
}

ul {
	list-style-type: circle;
	padding-left: 1.2rem;
}
